<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <div id="home" class="flex-center flex-column">
            <h1>Ade's Bible Quiz App</h1>
            <a class ="btn" href="/game_backup.html">Play</a>
            <a class ="btn" href="/highscores.html">Highscores</a>
        </div>
    </div>
        
            
</body>
</html>